body {
    /* background:linear-gradient(to top right, pink, lightyellow); ; */
    overflow: hidden;
    background-color: pink;
}

.text_header {
    width: 100%;
 color: white;
 font-size: 1.3vw;
 font-weight: bold;
  display: inline-flex;
}

.container_play {
    text-align: right;
}
#play {
    margin-top: 1%;
    margin-left: 67%;
}
.play {
    padding: 2%;
    background-color: lightblue;
    border: 2px solid yellow;
    border-radius: 8px;
    color: white;
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    text-align: center;
}

.center h1 {
    color: white;
   

}

.result hr {
    position: absolute;
    width: 100%;
    height: 1%;
    background-color: rgb(254, 254, 254);
    border: none;
    top: 31%;
}

.result h2 {
    position: relative;
    background-color: bisque;
    margin: auto 42% auto 42%;
    padding: 3%;
    font-size: 5vw;
}
.sub1 {
    display: inline-flex;
    margin-bottom: 10%;
}

.sub2 {
    display: inline-flex;
    margin-left: 10%;
}

.sub3 {
    display: inline-flex;
}

.output p {
    color: white;
    font-size: 1.5vw;
    margin-left: 2%;
}

.output img {
    margin-top: 6%;
    height: 100%;
    width: 10%;
}

.textBox {
   background:transparent; 
    border: 5px solid white;
    font-size: 55px;
    height: 150px;
    width: 250px;
   
    
}
.BtCheck{
    font-size: 20px;
    background-color: lightblue;
    padding: 20px;
    color: white;
    margin-top: 10%;
    
    
    
}

.input{
    float: right;
    position: absolute;
    left: 70%;
    top: 50%;
}


 
